<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Datos Públicos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="Content/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link href="Content/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="Content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="Content/css/pages/dashboard.css" rel="stylesheet" type="text/css" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <script type="text/javascript" src="Content/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="Content/js/tether.min.js"></script>
    <script type="text/javascript" src="Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="Content/js/vue.min.js"></script>
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="index.html">
                    Datos Públicos
                </a>
            </div>
        </div>
    </div>
    <br />
    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="row">
                    <div>
                        <div class="span12">
                            <center>
                                <h1>¿Qué está pasando hoy en MercadoPublico.cl?</h1>
                                <br>
                                <br />
                                <h4>
                                    <span id="spnfecha"></span>
                                    <br> La información es actualizada cada 1 minuto.
                                </h4>
                                <br>
                            </center>
                        </div>

                        <div id="licitaciones" class="span12">

                        </div>

                        <!--div id="ordenes-de-compra" class="span12">
                            <div class="widget widget-nopad">
                                <div class="widget-header">
                                    <i class="icon-list-alt"></i>
                                    <h3>{{titulo}}</h3>
                                </div>
                                <div class="widget-content">
                                    <div class="widget big-stats-container">
                                        <div class="widget-content">
                                            <div v-for="indicador of indicadores" class="big_stats cf">
                                                <div class="stat">
                                                    <h5>{{ indicador.nombre }}</h5>
                                                    <i class="shortcut-icon icon-bookmark"></i>
                                                    <span class="value">{{ indicador.valor }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div-->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-inner">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        &copy; 2014 - 2018
                        <a href="http://www.datospublicos.cl/">
                            Datos Públicos - Una iniciativa que aporta +transparencia
                        </a>.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>       

        var app = new Vue({
            el: '#licitaciones',
            data: {
                titulo: '¿Qué está pasando hoy con las Licitaciones?',
                vista: [
                    {
                        uri: 'http://api.mercadopublico.cl/servicios/v1/publico/licitaciones.json?estado=todos&ticket=C618EAC7-B4D3-49D3-B932-50D683033CFB',
                        titulo: 'Han cambiado de estado',
                        resultado: []
                    },
                    {
                        uri: 'http://api.mercadopublico.cl/servicios/v1/publico/licitaciones.json?estado=publicada&ticket=C618EAC7-B4D3-49D3-B932-50D683033CFB',
                        titulo: 'Se han publicado',
                        resultado: []
                    },
                    {
                        uri: 'http://api.mercadopublico.cl/servicios/v1/publico/licitaciones.json?estado=cerrada&ticket=C618EAC7-B4D3-49D3-B932-50D683033CFB',
                        titulo: 'Se Han cerrado',
                        resultado: []
                    },
                    {
                        uri: 'http://api.mercadopublico.cl/servicios/v1/publico/licitaciones.json?estado=desierta&ticket=C618EAC7-B4D3-49D3-B932-50D683033CFB',
                        titulo: 'Se han desertado',
                        resultado: []
                    },
                    {
                        uri: 'http://api.mercadopublico.cl/servicios/v1/publico/licitaciones.json?estado=adjudicada&ticket=C618EAC7-B4D3-49D3-B932-50D683033CFB',
                        titulo: 'Se han adjudicado',
                        resultado: []
                    },
                    {
                        uri: 'http://api.mercadopublico.cl/servicios/v1/publico/licitaciones.json?estado=revocada&ticket=C618EAC7-B4D3-49D3-B932-50D683033CFB',
                        titulo: 'Se han revocado',
                        resultado: []
                    },
                    {
                        uri: 'http://api.mercadopublico.cl/servicios/v1/publico/licitaciones.json?estado=suspendida&ticket=C618EAC7-B4D3-49D3-B932-50D683033CFB',
                        titulo: 'Se han suspendido',
                        resultado: []
                    }
                ]
            },
            methods: {

            },
            mounted() {
                var vista = this.vista;
                
                for (var i = 0; i <= vista.length - 1; i++) {
                    setTimeout(function (x) {
                        return function () {
                            fetch(vista[x].uri)
                            .then(response => response.json())
                            .then((data) => {
                                vista[x].resultado = data;
                            }) 
                        };
                    }(i), 3000 * i);
                    // 1 2 3 4 5
                }
            },
            template: `
                <div class="widget widget-nopad">
                    <div class="widget-header">
                        <i class="icon-list-alt"></i>
                        <h3>{{titulo}}</h3>
                    </div>
                    <div class="widget-content">
                        <div class="widget big-stats-container">
                            <div class="widget-content">
                                    <div v-for="v of vista" class="big_stats cf">
                                    <div class="stat">
                                        <h5>{{ v.titulo }}</h5>
                                        <i class="shortcut-icon icon-bookmark"></i>
                                        <span class="value">{{ v.resultado.Cantidad }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            `
        });
    </script>

<!--

    <script>
        var app2 = new Vue({
            el: '#ordenes-de-compra',
            data: {
                titulo: '¿Qué está pasando hoy con las Órdenes de Compra?',
                indicadores: [
                    {
                        'nombre': 'Han cambiado de estado',
                        'valor': 1
                    },
                    {
                        'nombre': 'Se han enviada a proveedor',
                        'valor': 2
                    },
                    {
                        'nombre': 'Se han aceptado',
                        'valor': 3
                    },
                    {
                        'nombre': 'Se han cancelado',
                        'valor': 4
                    },
                    {
                        'nombre': 'Se han recepcionado',
                        'valor': 5
                    },
                    {
                        'nombre': 'Están pendiente de recepcionar',
                        'valor': 6
                    }
                ]
            }
        })
    </script>

-->
</body>

</html>